a{
    color: white;
    padding: 25px;
}
h3 ,legend,form{
    padding: 20px 20px;
    text-decoration: underline;
}
.pt{
    background: aqua;
}
nav{
    display: flex;
}
#f1{
    padding-left: 202px;
}
h1{
    text-align: center;
}
h2{
    padding: 20px 0;
    text-decoration: underline;
}
ul{
    padding-left: 50px;
}
.pr{
    padding-right: 0 !important;
}
img{
    height: 200px;
    width: 300px;
    
}
#img1{
    height: 300px;
    width: 400px;
    margin-left: 100px;
    
}

nav{
    background:teal;
    color: white !important;
}
aside{
    height: 100%;
    background-color: aqua;
}
footer{
    height: 150px;
    background-color: aqua;
}
footer nav{
    color: white;
    padding: 30px;
    text-align: center;
}
footer p{
    text-align: center;
}
