a{
    color: white;
}
header{
    background-color: aqua;
}
nav{
    background:teal;
    color: white !important;
}
main{

}
aside{
    height: 100%;
    background-color: aqua;
}
footer{
    background-color: aqua;
}